body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #332e34; 
    height: 60px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }   
  
#logo4 {
    width: 62px;
    height: 40px;
    
}

  

h1,h2,h3,h4,h5,h6{
    font-family:900 ;
    color: #000;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display:block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
    color: #fff;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    color: #fff;
}

section.module.content{
    padding: 40px 0;
    background: #121212;
}

section.module.parallax::after{
content: '';
height: 100%;
width: 100%;
position: absolute;
z-index: 8;
background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, rgba(0, 0, 0, 0) 60%, rgba(0,0,0,0)80%, #000 100%) ;
background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, rgba(0, 0, 0, 0) 60%, rgba(0,0,0,0)80%, #000 100%) ;;
background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%, rgba(0, 0, 0, 0) 60%, rgba(0,0,0,0)80%, #000 100%) ;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width:100% ;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;

}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba)
}

section.module.parallax-1{
    position: relative;
}

section.module.parallax-1::before {
    content: "";
    position: absolute;
    background-image: url(imgs/portomiximage.jpeg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(50%)
}

section.module.parallax-1 h1{
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
    margin-bottom: 370px;
}
section.module.parallax-1 h6{
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
    margin-bottom: 550px;
}

/*section3*/
.container3 {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module3:last-child {
    margin-bottom: 0;
}
section.module.content3 {
    padding: 40px 0;
    background-color: #121212;
    text-align: center;
	  height: 350px;
}
section.module.content3 h1{
    font-size: 45px;
    color: #fff;
}
#sesao1 {
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 150px;
    max-width: 100px;
    width: auto;
    height: auto;
    text-align: center;
  }
      /*section4*/
      .container4 {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 20px;
    }
    section.module4:last-child {
        margin-bottom: 0;
    }
    section.module.content4 {
        padding: 40px 0;
        background-color: #121212;
        text-align: center;
        height: 550px;
    }
    section.module.content4 h1{
        font-size: 45px;
        color: #fff;
    }
    /*section2*/
    .container {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 20px;
    }
    section.module:last-child {
        margin-bottom: 0;
    }
    section.module.content {
        padding: 40px 0;
        background-color: #121212;
        text-align: center;
        height: 240px;
    }
    section.module.content h1{
        font-size: 45px;
        color: #fff;
    }
    .container h6 {
      color: #fff;
      margin-bottom: 20px;
      letter-spacing: 2px;
      justify-content: center;
    }
    section.module.content button {
      border-radius: 30px;
      background-color: #f7d4a0;
      outline: none;
      cursor: pointer;
      width: 290px;
      height: 50px;
      transition: all 0.2s;
      font-weight: bold;
  }
  section.module.content button:hover {
      -webkit-transform: scale(1.0);
      transform: scale(1.1);
      cursor: pointer;  
    }